<div class="btn-group">
    <div class="btn-group action-bar" role="group">
        <button ng-click="createReview(tickets[selectedIndex])"
                ng-class="{disabled: selectedIndex === null}"
                type="button" class="btn btn-default btn-create-review">Create review
        </button>

        <div class="btn-group" role="group">
            <button ng-class="{disabled: !tickets[selectedIndex].actions.length}"
                    type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Workflow
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="action in tickets[selectedIndex].actions">
                    <a ng-click="performAction(tickets[selectedIndex].key, action)">
                        <img class="action-image" ng-src="{{action.to.iconUrl}}"/>{{action.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-group action-bar">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <input type="text" placeholder="Search" class="form-control" ng-model="search"/>
    </div>
</div>

<md-content class="content scrollbox">
    <div layout layout-align="center center">
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
        <strong ng-if="tickets.length == 0">No issues found for this filter.</strong>
    </div>

    <md-list>
        <md-item ng-repeat="ticket in tickets | filter : search">
            <md-item-content ng-click="select($index)" ng-class="{selected: $index == selectedIndex}" class="content-item">
                <img ng-src="{{ticket.fields.issuetype.iconUrl}}" title="{{ticket.fields.issuetype.name}}"/>

                <div class="md-tile-content">
                    <a href="https://jira.epam.com/jira/browse/{{ticket.key}}" target="_blank">{{ticket.key}}</a>

                    <h4>{{ticket.fields.summary}}</h4>
                </div>
                <img ng-src="{{ticket.fields.status.iconUrl}}" title="{{ticket.fields.status.name}}"/>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</md-content>