* {
    margin: 0;
    padding: 0;
}

body {
    width: 500px;
    height: 332px;
    overflow-x: hidden;
    word-wrap: break-word;
}

.wrap {
    margin: 20px;
}

.entity-list {
    list-style: none;
}

.entity-list-item {
    color: #363b4e;
    padding: 10px;
    cursor: pointer;
}

.entity-list-item.selected {
    background: #dbedf8;
    color: #1296de;
}

.entity-list-item-link {
    color: #1296de;
    font-weight: bold;
}

.review-button {
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.action-bar {
    padding: 10px;
}

.action-bar a {
    cursor: pointer;
}

.action-image {
    padding-right: 5px;
}

.btn-create-review {
    background: url(../images/icons/icon-review.png) no-repeat left 5px center;
    padding-left: 25px;
}

.content {
    height: 450px;
    overflow-y: auto;
}

.content-item {
    border: 1px solid #fff;
    cursor: pointer;
}

.selected {
    background: #E0E5F0;
    border-radius: 3px;
    border: 1px solid #899098;
}

.scrollbox {
    position: relative;
    z-index: 1;

    background: #fff no-repeat;
    background-image: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    background-position: 0 0, 0 100%;
    background-size: 100% 20px;
}

.scrollbox:before,
.scrollbox:after {
    content: '';
    position: relative;
    z-index: -1;

    display: block;

    height: 30px;
    margin: 0 0 -30px;
    background: linear-gradient(to bottom, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
}

.scrollbox:after {
    margin: -30px 0 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
}
