<button ng-repeat="action in tickets[selectedIndex].actions"
        ng-click="performAction(tickets[selectedIndex].key, action)">{{action.name}}
</button>
<button ng-if="selectedIndex !== null" ng-click="createReview(tickets[selectedIndex])">Create review</button>

<md-content class="md-padding">
    <div layout layout-align="center center">
        <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
        <strong ng-if="tickets.length == 0">No issues found for this filter.</strong>
    </div>

    <md-list>
        <md-item ng-repeat="ticket in tickets">
            <md-item-content ng-click="select($index)" ng-class="{selected: $index == selectedIndex}">
                <img ng-src="{{ticket.fields.issuetype.iconUrl}}" title="{{ticket.fields.issuetype.name}}"/>

                <div class="md-tile-content">
                    <a href="https://jira.epam.com/jira/browse/{{ticket.key}}" target="_blank">{{ticket.key}}</a>

                    <h3>{{ticket.fields.summary}}</h3>
                </div>
                <img ng-src="{{ticket.fields.status.iconUrl}}" title="{{ticket.fields.status.name}}"/>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>
</md-content>