<div class="btn-group">
    <div class="btn-group action-bar" role="group">
        <button ng-click="goTo('crucible/reviewers/' + selectedReview.permaId.id)"
                ng-class="{disabled: selectedReview === null}"
                title="Find reviewers"
                type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <button ng-click="remind(selectedReview)"
                ng-class="{disabled: selectedReview === null}"
                title="Remind"
                type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        </button>

        <div class="btn-group" role="group">
            <button ng-class="{disabled: !hasTransitions(selectedReview)}"
                    type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                Transitions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-if="hasTransitions(selectedReview)">
                <li ng-repeat="action in selectedReview.transitions.transitionData">
                    <a ng-click="performAction(selectedReview, action.name)">{{action.displayName}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-group action-bar">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </div>
        <input type="text" placeholder="Search" class="form-control" ng-model="search"/>
    </div>
</div>

<md-content class="content">
    <md-progress-linear md-mode="indeterminate" ng-if="loading"></md-progress-linear>
    <div layout layout-align="center center">
        <strong ng-if="reviewsToReview.length == 0 && openReviews.length == 0">There are no reviews.</strong>
    </div>

    <div layout="column" flex layout-fill>
        <md-content style="height: 450px;">
            <section ng-repeat="(reviewType, reviews) in reviewsMap" ng-if="reviews.length">
                <md-subheader class="md-primary">{{reviewsNames[reviewType]}}</md-subheader>
                <md-list layout="column">
                    <md-item ng-repeat="review in reviews | filter : search">
                        <md-item-content ng-click="select(review)" ng-class="{selected: review === selectedReview}" class="content-item">
                            <img ng-src="{{review.author.avatarUrl}}" title="{{review.author.displayName}}" class="review-list-item__author-avatar"/>
                            <div class="md-tile-content review-info">
                                <a href="https://crucible.epam.com/cru/{{review.permaId.id}}"
                                   target="_blank">{{review.permaId.id}} <span class="badge">{{unreadCommentsCount(review)}}</span></a>
                                <h4>{{review.name}}</h4>
                                <ul class="review__reviewer-list">
                                    <li ng-repeat="reviewer in review.reviewers.reviewer" class="reviewer-list__item">
                                        <a href="" ng-class="{'reviewer-list__reviewer': true, 'reviewer--completed': reviewer.completed}">
                                            <img class="reviewer__avatar" ng-src="{{reviewer.avatarUrl}}" alt="{{reviewer.displayName}}" title="{{reviewer.displayName}}"/>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </md-list>
            </section>
        </md-content>
    </div>
</md-content>